<h1 class="heading">Saufbaum</h1>
<button mat-icon-button class="return" style="border: none;">
    <mat-icon routerLink="/" class="returnIcon" (click)="exitGame()">keyboard_backspace</mat-icon>
</button>
<div class="logOut">
    <button mat-icon-button style="border: none;">
        <mat-icon routerLink="/logout" class="logOutIcon">exit_to_app</mat-icon>
    </button>
    <p class="loggedInAs">Eingeloggt als {{username}}</p>
</div>
<table width=100%>
    <tr>
        <td style="width: 30%; vertical-align: baseline; text-align: center;" *ngIf="players.length > 0">
            <h2 style="color: white">Spieler</h2>
            <ul style="list-style: none; color: white;">
                <li *ngFor="let player of players" style="padding: 0; text-align: left;"
                    [ngClass]="{'activeClass': player.active}">
                    <span>{{player.name}}</span>
                    <hr>
                </li>
            </ul>
        </td>
        <td style="text-align: center;">
            <div style="text-align: center;">
                <h2 style="color: white">Deine Karte</h2>
                <img src="{{cards[rnd].url}}" width="250" height="400">
                <i>
                    <p style="margin-top: -7px; color: white;">{{cards[rnd].name}}</p>
                </i>
            </div>

            <p *ngIf="this.rnd != 40" class="counting"><b style="font-size: 28px; color: red;">{{53 - (usedValues?
                    usedValues.length : 53)}} </b>Karten verbleiben in diesem Deck</p>
            <div *ngIf="this.finished || this.rnd == 40">
                <div *ngIf="this.nextActive || this.rnd == 40">
                    <div class="buttons" *ngIf="this.rnd !=40">
                        <button class="button random" (click)="randomCard(false)">Karte
                            ziehen
                        </button>
                    </div>
                    <div class="buttons" *ngIf="this.rnd == 40 && this.joined">
                        <button class="button random" (click)="startGame()" style="width: 200px;">Start!</button>
                    </div>
                </div>
            </div>
            <!-- ADMIN PANEL -->
            <div *ngIf="this.role == 'admin'">
                <div class="buttons" *ngIf="this.rnd !=40">
                    <button class="button random" (click)="randomCard(false)">Karte
                        ziehen</button>
                    <button class="button new" (click)="newDeck()">Neues Deck</button>
                </div>
                <div class="buttons" *ngIf="this.rnd == 40 && this.joined">
                    <button class="button random" (click)="startGame()" style="width: 200px;">Start!</button>
                </div>
                <div class="buttons" *ngIf="!this.joined">
                    <button class="button new" (click)="newDeck()">Neues Deck</button>
                </div>
            </div>
            <div class="buttons" *ngIf="this.usedValues.length == 53">
                <button class="button new" (click)="newDeck()">Neues Deck</button>
            </div>
            <div class="buttons" *ngIf="active && !finished">
                <button class="button random" (click)="finishTurn()">Zug beenden</button>
            </div>
            <button class="button" style="text-align: center;" (click)="joinGame()"
                *ngIf="!this.joined && this.rnd == 40">
                Ich möchte mitspielen!
            </button>
        </td>
        <td>
            <div class="rules">
                <h2>Regeln</h2>
                <p><u>Ass:</u> Alle Trinken</p>
                <p><u>2:</u> Damen Trinken</p>
                <p><u>3:</u> Buben Trinken</p>
                <p><u>4:</u> Kurze Pause</p>
                <p><u>5:</u> Kamerascheu</p>
                <p><u>6:</u> 5 Liegestüze</p>
                <p><u>7:</u> 10 Kniebäugen</p>
                <p><u>8:</u> Trinkbuddy</p>
                <p><u>9:</u> Wikinger</p>
                <p><u>10:</u> Reimen</p>
                <p><u>Bube:</u> Regel</p>
                <p><u>Dame:</u> Question Queen</p>
                <p><u>König:</u> Kategorie</p>
            </div>
        </td>
    </tr>
</table>
<div *ngIf="this.active || this.role == 'admin' || this.role == 'host'">
    <form style="width: 80%;" (submit)="submitRule($event)" *ngIf="isJack">
        <input class="newRuleInput" type="text" name="regeltext" placeholder="Neue Regel hinzufügen..." required
            minlength="10">
        <button class="button" label="Regel erstellen" type="submit">Regel erstellen</button>
    </form>
</div>
<h2 style="font-size: 30px;" class="rules">Zusätzliche Regeln</h2>
<ul style="width: 80%;" *ngIf="rules.length > 0">
    <li *ngFor="let rule of rules">
        <p class="customRule">{{rule.description}} - {{rule.name}}</p>
    </li>
</ul>
<p *ngIf="rules.length == 0" style="color: white; font-size: 20px;">Bisher wurde noch kein Bube aufgedeckt. Deswegen
    gibt es keine zusätzlichen Regeln</p>