<h1 class="heading">Tanken</h1>
<div class="return">
    <button mat-icon-button style="border: none;">
        <mat-icon routerLink="/" class="returnIcon" (click)="exitGame()">keyboard_backspace</mat-icon>
    </button>
    <p style="padding-left: 40px;" class="loggedInAs">Spiel verlassen</p>
</div>

<div class="logOut">
    <button mat-icon-button style="border: none;">
        <mat-icon routerLink="/logout" class="logOutIcon">exit_to_app</mat-icon>
    </button>
    <p class="loggedInAs">Eingeloggt als {{username}}</p>
</div>
<table style="width: 80%;">
    <tr>
        <td style="width: 30%; vertical-align: baseline; text-align: center;">
            <h2 style="color: white">Spieler</h2>
            <ul style="list-style: none; color: white;">
                <li *ngFor="let player of players" style="padding: 0; text-align: left;" [ngClass]="{'activeClass': player.active}">
                    <span>{{player.name}}</span>
                    <hr>
                </li>
            </ul>
        </td>
        <td style="width: 80%">
            <div style="text-align: center;">
                <h2 style="color: white">Deine Karte</h2>
                <img *ngIf="this.rnd != 99" src="{{cards[rnd].url}}" width="330" height="500" style="border-radius: 20px;">
                <img *ngIf="this.rnd == 99" src="{{deckblatt.url}}" width="330" height="500" style="border-radius: 20px;">
                <i>
                    <p *ngIf="this.rnd != 99" style="margin-top: -7px; color: white;">{{cards[rnd].name}}</p>
                </i>
            </div>
        </td>
    </tr>
</table>


<p *ngIf="this.rnd != 99" class="counting"><b style="font-size: 28px; color: red;">{{53 - (usedValues.length?
        usedValues.length : 53)}} </b>Karten verbleiben in diesem Deck</p>
<div *ngIf="this.active || this.role == 'admin' || this.role == 'host'">
    <div class="buttons" *ngIf="this.rnd != 99 && this.joined">
        <button class="button random" (click)="randomCard(false)">Karte ziehen</button>
        <button class="button new" (click)="newDeck()" *ngIf="this.role == 'admin'">Neues Deck</button>
    </div>
</div>


<div class="buttons" *ngIf="this.rnd == 99 && this.joined">
    <button class="button random" (click)="startGame()" style="width: 200px;">Start!</button>
</div>

<button class="button" (click)="joinGame()" *ngIf="!this.joined && this.rnd == 99">
    Ich möchte mitspielen!
</button>