<h1 style="text-align: center;">Das große Silvester-Cardgame</h1>

<div style="text-align: center;">
  <h3>Deine Karte: </h3>
  <img src="{{cards[rnd].url}}" width="200">
  <i><p style="margin-top: -7px;">{{cards[rnd].name}}</p></i>
</div>

<p style="font-size: large;text-align: center;"><b style="font-size: 28px;">{{33 - usedValues.length}} </b>cards left in this deck</p>
<div class="buttons">
  <button (click)="randomCard()">Gimme a random card
  </button>
  <button (click)="newDeck()">New Deck</button>
</div>
