<h1 class="awesome">Ultimative Online Silvester Party</h1>

<h2>Gamehost: Nico Rößler</h2>
<div class="wrapper">
    <table>
        <tr>
            <td>
                <button class="sb">Saufbaum</button>
            </td>
            <td>
                <button class="bf">Busfahrer</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="at">Activity</button>
            </td>
            <td>
                <button class="vt">Volltanken</button>
            </td>
        </tr>
    </table>
</div>