<h1 class="awesome">Ultimative Online Silvester Party</h1>
<button mat-icon-button class="return" style="border: none;">
    <mat-icon routerLink="/logout" class="returnIcon">exit_to_app</mat-icon>
  </button>
<h2 class="heading">Gamehost: Nico Rößler</h2>

<div class="wrapper">
    <table>
        <tr>
            <td>
                <button class="game sb" (click)="goToGame('saufbaum')">Saufbaum</button>
            </td>
            <td>
                <button class="game bf" (click)="goToGame('busfahrer')">Busfahrer</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="game at" (click)="goToGame('activity')">Activity</button>
            </td>
            <td>
                <button class="game" (click)="goToGame('volltanken')">Volltanken</button>
            </td>
        </tr>
    </table>
</div>